* {
    padding: 0;
    margin: 0;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 100px 0 0 100px;
    background-color: blue;
    position: relative;
    animation: shakl 0.1s infinite alternate-reverse;
}

.hole {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

@keyframes shakl {
    0% {
        width: 200px;
        height: 200px;
        background-image: linear-gradient(green, yellow, red, darkmagenta);
    }

    25% {
        width: 200px;
        height: 200px;
        background-image: linear-gradient(red, darkmagenta, green, yellow);
    }

    50% {
        width: 200px;
        height: 200px;
        background-image: linear-gradient(chocolate, chartreuse, darkcyan, darkolivegreen);
    }

    75% {
        width: 200px;
        height: 200px;
        background-image: linear-gradient(chocolate, chartreuse, darkcyan, darkolivegreen);
    }

    100% {
        width: 200px;
        height: 200px;
        transform: rotate(360deg);
        background-image: linear-gradient(green, yellow, red, darkmagenta);
    }
}

/* @media all and (max-width: 1024px) {
    body {
        background-color: blue;
    }
}

@media all and (max-width: 768px) {
    body {
        background-color: red;
    }
} */